@import "../reset.css";

html{
  width:100%;
  height: 100%;
}

body{
  width: 100%;
  min-height: 100%;
}
.container{
  max-width: 1170px;
  padding: 0 10px;
  margin: auto;
}

.my-header {
  background: url("../img/IMAGE.jpg") no-repeat 50%;
  background-size: cover;
  min-height: 100vh;
  padding-top: 47px;
  position: relative;
}

.my-header__nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
}

.logo {
  font-family: OpenSans;
  font-weight: 600;
  text-transform: uppercase;
  color:  #ffffff;
  font-size: 35px;
}

.menu {

  &__item {
    float: left;
    padding-left: 45px;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 12px;/* Приближение из-за подстановки шрифтов */

    &:first-child {
      padding-left: 0;
    }
  }

  &__link {
    display: block;
    font-family: OpenSans;
    color:  #ffffff;
    font-size: 14px;
    line-height: 24px;
    padding-top: 3px;
    text-decoration: none;
  }
}

.banner {
  text-align: center;
  padding: 258px 0 77px;

  &__title {
    font-family: 'Source Sans Pro';
    color:  #ffffff;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 7px;
    padding-bottom: 35px;
  }

  &__description {
    font-family: OpenSans;
    color:  #ffffff;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    max-width: 604px;
    margin: 0 auto;
    padding-bottom: 220px;
  }
}

.flaticon {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 50%;
  margin-left: -18px;
  background: url("../img/___ HOVER.svg") no-repeat 50%;
}

.portfolio {
  background-color: #F2F2F2;
  text-align: center;
  padding-top: 86px;

  &__title {
    color: #333b46;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-bottom: 38px;
  }

  &__text {
    max-width: 457px;
    color: #81868e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 78px;
    margin: 0 auto;
  }

  #tabs {
    text-align: center;

    &__item {
      float: left;
    }

    &__btn {
      font-family: OpenSans;
      color:  #464646;
      font-size: 16px;/* Приближение из-за подстановки шрифтов */
      font-weight: 400;
    }
  }

  #items {
    max-width: 1120px;
    margin: 0 auto;

    .marg {
      margin: 5px;
    }
  }
}

.map {
  text-align: center;
  padding-top: 77px;
}

#map {
  width: 100%;
  height: 439px;
  margin:50px auto 0;

}

.my-footer {
  text-align: center;
  padding-top: 72px;
  padding-bottom: 69px;

  .footer-contact__link {
    margin-right: 10px;
    text-decoration: none;
  }

  &__link:last-child {
    padding-right: 0;
  }
}
